# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/

/.ipynb_checkpoints
/.pytest_cache
/__pycache__
/app/.ipynb_checkpoints/*
