# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db